{{- define "propertiesValueEscape" -}}
{{- $backslashes := replace . "\\" "\\\\" -1 -}}
{{- $carriageReturns := replace $backslashes "\r" "\\r" -1 -}}
{{- $newlines := replace $carriageReturns "\n" "\\n" -1 -}}
{{- $tabs := replace $newlines "\t" "\\t" -1 -}}
{{- replace $tabs " " "\\ " -1 -}}
{{- end -}}
# Defines credentials that will be used by components (like web console) to access the broker
activemq.username={{ template "propertiesValueEscape" (getenv "ACTIVEMQ_USER") }}
activemq.password={{ template "propertiesValueEscape" (getenv "ACTIVEMQ_PASSWORD") }}
